import os, base64, zipfile, StringIO
_pacmel_dir = os.path.join(os.getenv('TEMP'), '{zipname}')
_pacmel_files = []
_fob = StringIO.StringIO()
_fob.write(base64.decodestring('" + $zipblob + "'))
with zipfile.ZipFile(_fob, 'r') as tmpzip:
    for f in tmpzip.namelist():
        tmpzip.extract(f, _pacmel_dir)
        _pacmel_files.append(os.path.join(_pacmel_dir, f))
def _pacmel_call(_pacmel_dir, _pacmel_files):
    {code}
_pacmel_call(_pacmel_dir, _pacmel_files)
